<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ximp"
    android:versionCode="1"
    android:installLocation="preferExternal"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        
        android:theme="@style/ConversationsTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="eu.siacs.conversations.services.XmppConnectionService" />

        <receiver android:name="eu.siacs.conversations.services.EventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ConversationActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartConversationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_start_conversation" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="imto" />
                <data android:host="jabber" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="xmpp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="xmpp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ChooseContactActivity"
            android:label="@string/title_activity_choose_contact" />
        <activity
            android:name=".BlocklistActivity"
            android:label="@string/title_activity_block_list" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/change_password_on_server" />
        <activity
            android:name=".ManageAccountActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_manage_accounts" />
        <activity
            android:name=".EditAccountActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ConferenceDetailsActivity"
            android:label="@string/title_activity_conference_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ContactDetailsActivity"
            android:label="@string/title_activity_contact_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PublishProfilePictureActivity"
            android:label="@string/mgmt_account_publish_avatar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VerifyOTRActivity"
            android:label="@string/verify_otr"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShareWithActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.dunedns.ssl.MemorizingActivity"
            android:theme="@style/ConversationsTheme" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>
        <activity
            android:name=".RoomsListActivity"
            android:label="@string/title_activity_rooms_list" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
        <activity
            android:name=".StatusActivity"
            android:label="@string/title_activity_status" >
        </activity>
        <receiver
            android:name="com.kss.xchat.BackgroundReciever"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.kss.xchat.BACKGROUND" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
